
<% if user_signed_in? %>
  <%= current_user.emaul |登出 %>
  <%= link_to '登出', sign_out_sessions_path, method: 'delete' %>
<% else %>
  <%= link_to '註冊', sign_up_sessions_path %>
  
  <%= link_to '登入', sign_in_sessions_path %>
<% end %>
<h1>球員列表</h1>

<h2><%= flash[:notice] %></h2>

<%= link_to "新增球員", new_player_path %>


<%= render @players %>


